body{
    font: 16px/28px arial, sans-serif;
    background-color: #a5a5d4;
    background-image: url(backround.jpg);
    color: #5a5757
}
.container{
    width: 800px;
    margin: auto;
    background-color: #fff;
}
.header{
    padding: 20px;
    padding-bottom: 10px;
}
.header.judul{
    font-size: 40px;
    font-weight: bold;
}
.header ul li{
    display: inline-block;
    margin-top: 20px;
    margin-right: 10px;
}
.header a{
    text-decoration: none;
    color: plum;
    padding: 20px;
}
.header a:hover{
    background-color: rgb(137, 190, 223);
    color: white;
}
.hero{
    height: 280px;
    background-image: url(jeruk.jpg);
    background-size: cover;
    background-position: 0 -100px;
    border-top: 5px solid plum;
    border-bottom: 5px solid pink;
}
.herokesatu{
    height: 280px;
    width: 800px;
    background-image: url(serat\ jeruk.jpg);
    background-size: cover;
    background-position: 0 -100px;
    border-top: 5px solid rgb(235, 214, 97);
    border-bottom: 5px solid rgb(160, 44, 64);
}
.content{
    padding: 20px;
}
.content h2{
    font-size: 28px;
    font-weight: bold;
}
.content .penulis{
    font-size: 11px;
    margin-top: -5px;
}
.content .penulis a{
    text-decoration: none;
    color: plum;
}
.content p{
    margin-bottom: 20px;
    font-size: 14px;
}
.footer{
    background: #333;
    padding-left: 20px;
}
.footer .copy{
    color:#eaeaee;
    text-align: center;
    font-size: 15px;
}