/* font */
@font-face{
    font-family: 'Qikki';
    src: url(../fonts/qarmic_sans_abridged-webfont.woff);
}

/* style utama */
body{
    font: 18px/36px 'Qikki' 'arial';   
    background-repeat: no-repeat;
    background-size: cover;
    
   }
   
   h1{
       font-size: 80px;
       color: white;
       margin: 50px 0;
       text-align: center;
       text-shadow: 1px 1px 2px rgb(72, 49, 160) ;
   }
   .gallery img{ 
       width: 100px;
       display: inline-block;
       
   }
   .gallery ul{
        list-style:none;
   
   }
   .container{
       width: 600px;
       background-color: white;
       margin: auto;
       padding: 20px;
       box-shadow: 0 0 9px 9px rgba(28, 68, 247, 0.5);
       border-radius: 5px;
   }
   .gallery li img{
       border-radius: 10%;
   }
   .gallery li{
       
       display: inline-block;
       width: 100px;
       height: 100px;
       border-radius: 70%;
       overflow: hidden;
       border: 3px solid gray;
       position: relative;
       margin-left: 20px;
   }
   .gallery li span{
       display: block;
       width: 100px;
       height: 100px;
       background-color: rgba(200,200,200,.5);
       border-radius: 70%;
       position: absolute;
       top: 0;
       text-align: center;
       line-height: 100px;
       color: white;
       text-shadow: 1px 1px 1px #ddd;
       opacity: 0;
       transition: .3s;
       transform: scale(0) rotate(0);
   }
   
   .gallery li a:hover span{
       opacity: 1;
       transform:  scale(1) rotate(360deg);
   }
   
   .over h2{
    color: #ddd;
   }

   .over{
       width: 0;
       height: 0;
       overflow: hidden;
       position: fixed;
       top: 0;
       left: 0;
       background-color: rgba(0, 0, 0, 0);
       transition: 1s;
       z-index: 99999;
       text-align: center;
   }
   .over:target{
       width: auto;
       height: auto;
       bottom: 0;
       right: 0;
       background-color: rgba(0, 0, 0, .7);
   }
   .over p{
   color: white;
   }
   .over img{
        max-height: 100%;
        width: 30%;
        margin-top: 100px;
       box-shadow:  2px 2px 7px rgba(0,0,0,.5);
   
   }
   .over:target img{
       animation: planet 1s;
   }
   
   .over .close{
       position: absolute;
       top: 20px;
       margin-left: 200px;
       text-decoration: none;
       color: white;
       border: 1px solid white;
       line-height: 25px;
       opacity: 0;
   }
   
   .over:target .close{
       animation: planet2 .5s .5s forwards; 
   }
   
   .round{
       border-radius: 50%;
       font-size: 120px;
       text-decoration: none;
       position: absolute;
       text-indent: -100px;
       top:44%;
       color: white;
       right: 29%;
       opacity: 0;
   }
   .prev{
       border-radius: 50%;
       font-size: 120px;
       text-decoration: none;
       position: absolute;
       text-indent: -100px;
       top:44%;
       color: white;
       right: 64%;
       opacity: 0;
   }
   .over:target .next{
       animation: tombol .5s .5s forwards;
   }
   
   @keyframes planet {
   0% {
       transform: scale(0);
       opacity: 0;
   
   }
   100% {
       transform: scale(1);
       opacity: 1;
   }
   }
   
   @keyframes planet2{
       0%{
           opacity: 0;
           margin-top: -20px;
       }
       100%{
           opacity: 1;
           margin-top: 0;
       }
   }
   @keyframes tombol{
       0%{
           opacity: 0;
       }
       100%{
           opacity: 1;
       }
   }